*{
    margin: 0;
    padding: 0;
}   
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main{
    box-sizing: border-box;
    height: auto;
    width: 40rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
h4{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 15px;
}
.main img{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap:20px;
}
.content>p{
    color: hsl(228, 12%, 48%);
    font-size: 17px;
    line-height: 1.4;
}
h1{
    font-size: 36px;
    font-weight: bold;
    line-height: 0.9;
}
.content>button{
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
}
.prices{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Fraunces;
    margin: 15px 0px;
}
.prices>h1{
    color: hsl(158, 36%, 37%);
}
.prices>p{
    font-family: Montserrat;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration-line: line-through;
}
.buy{
    z-index: 11;
    border: 1px solid hsl(158, 36%, 37%);
}
.mobile-hide{
    display: inline;
}
.mobile-show{
    display: none;
}
@media (max-width: 480px) {
    .main{
        flex-direction: column;
        width: 90%;
        height: 93%;
        justify-content: center;
    }
    .main img{
        height: 48%;
        width: 100%;
        object-fit: cover;
    }
    .content{
        gap:10px;
    }
    .content>button{
        padding: 12px;
    }
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: inline;
    }
    h1{
        font-size: 32px;
        font-weight: bold;
        line-height: 0.9;
    }
    h4{
        font-family: Montserrat;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
}